<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <form action="#" th:action="@{/emp/update}" th:object="${employee}" method="post">
            <input type="hidden" th:field="*{empno}">
            员工姓名<input type="text" th:field="*{ename}" ><br />
            职位<input type="text" th:field="*{job}" /><br />
            上级员工编号<input type="number" th:field="*{mgr}" /><br />
            入职日期<input type="date" th:field="*{hiredate}" /><br />
            薪水<input type="number" th:field="*{sal}" /><br />
            津贴<input type="number" th:field="*{comm}" /><br />
            部门编号<input type="number" th:field="*{deptno}" /><br />
            <input type="submit" value="提交"/><br />
        </form>
    </div>
</body>
</html>