<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Information</title>
</head>
<body>
    <div align="center">
        <table border="1">
            <tr>
                <th>员工编号</th>
                <th>员工姓名</th>
                <th>职位</th>
                <th>上级员工编号</th>
                <th>入职日期</th>
                <th>薪水</th>
                <th>津贴</th>
                <th>部门编号</th>
            </tr>
            <tr>
                <td th:text="${employee.getEmpno()}"></td>
                <td th:text="${employee.getEname()}"></td>
                <td th:text="${employee.getJob()}"></td>
                <td th:text="${employee.getMgr()}"></td>
                <td th:text="${employee.getHiredate()}"></td>
                <td th:text="${employee.getSal()}"></td>
                <td th:text="${employee.getComm()}"></td>
                <td th:text="${employee.getDeptno()}"></td>
            </tr>
            <tr>
                <td><a th:href="@{/emp/}">返回</a></td>
            </tr>
        </table>
    </div>
</body>
</html>